// color system partial

$white: #ffffff;
$light-ash: #F7F7F7;
$blue-ash: #76858F;
$blue-shade1: #1F3F54;
$blue-shade2: #0095CE;
$green-shade1: #7BAB21;
$orng-shade1: #FFC560;
$red-shade1: #FF5847;
$grey: #434242;

$ch-disabled-color: #787878;

