// var partial

// Font family
$opensans: 'Open Sans', sans-serif;

// elementary
$container-width: 1140px;


// background image property
$bg-property-cover: cover;
$bg-property-fixed: fixed;
$bg-property-position: 50% 50%;
$bg-property-repeat: no-repeat;
